body {
	min-height: 100vh;
	margin: 40px;
	background: linear-gradient(to bottom right, hsl(0, 70%, 85%), hsl(39, 100%, 90%), hsl(60, 100%, 90%), hsl(120, 84%, 95%), hsl(240, 100%, 95%), hsl(281, 80%, 95%));
}

* {
	box-sizing: border-box;
}

.grid {
	width: 100%;
	height: 80vh;
}

.grid div {
	--hue: 200;
	display: grid;
	align-items: center;
	justify-items: center;
	font-size: 40px;
	color: white;
	border-radius: 8px;
	border: 4px solid hsl(var(--hue), 50%, 30%);
	background: linear-gradient(to top left, hsl(var(--hue), 50%, 40%), hsl(var(--hue), 60%, 65%));
}
.grid div:nth-child(2) {
	--hue: 250;
}
.grid div:nth-child(3) {
	--hue: 300;
}
.grid div:nth-child(4) {
	--hue: 350;
}
.grid div:nth-child(5) {
	--hue: 40;
}
.grid div:nth-child(6) {
	--hue: 90;
}
.grid div:nth-child(7) {
	--hue: 140;
}
.grid div:nth-child(8) {
	--hue: 190;
}